<template>
  <q-layout ref="layout" v-model="sides" view="hHr LpR lff"
            :left-breakpoint="99999">
    <q-toolbar slot="header" color="dark">
      <q-btn v-if="!showBackButton" flat @click="$refs.layout.toggleLeft()">
        <q-icon name="menu" />
      </q-btn>
      <q-btn v-else flat @click="goBack">
        <q-icon name="arrow back" />
      </q-btn>

      <q-toolbar-title>
        <router-link :to="route('home')">
          <!-- @todo Use stylus variables -->
          <img src="img/logo_nav.png" alt="docallo" style="max-height: 35px;" @click="$router.push(route('home'))">
        </router-link>
      </q-toolbar-title>

      <!-- Top-right corner buttons. Only visible if viewport width >= 768px -->
      <div class="gt-sm">
        <q-btn flat @click="toggleLocale">{{ otherLocale }}</q-btn>

        <!-- Some weird bug: if we don't specify a value for `@click` here, the
             old event handler lingers, and clicking this button shows the login
             dialog (even though we just logged in!) -->
        <q-btn v-if="authenticated" flat @click="1" ref="target">
          {{ user.name }}
          <q-popover ref="popover">
            <q-list separator link>
              <q-item item @click="$refs.popover.close(() => $router.push(route('my.profile')))">
                <q-item-side icon="account_box" />
                <q-item-main :label="$t('profile') | capitalize" />
              </q-item>
              <q-item @click="logout(), $refs.popover.close()" class="align-right">
                <q-item-side icon="lock_open" />
                <q-item-main :label="$t('logout') | acap" />
              </q-item>
            </q-list>
          </q-popover>
        </q-btn>
        <template v-else>
          <q-btn flat @click="login">{{ $t('login') }}</q-btn>
          <q-btn flat @click="register">{{ $t('register') }}</q-btn>
        </template>
      </div>

      <!-- Mobile version of the top-right. Just icons, to save space. -->
      <div class="lt-md">
        <q-btn flat small @click="toggleLocale">{{ otherLocale }}</q-btn>
        <!--
                <q-btn v-if="!isSearchPage"
                       flat
                       @click="$router.push(route('search.appointments'))">
                  <q-icon name="search" />
        -->
      </div>
    </q-toolbar>

    <login-register-modal ref="loginRegisterModal"></login-register-modal>

    <div slot="left">
      <q-list no-border link>
        <q-list-header v-if="authenticated">{{ user.name }}</q-list-header>
        <q-list-header v-else>Menu</q-list-header>
        <q-side-link item :to="route('home')" exact>
          <q-item-side icon="home" />
          <q-item-main :label="$t('routes.home') | capitalize" />
        </q-side-link>
        <q-side-link item :to="route('search.appointments')">
          <q-item-side icon="search" />
          <q-item-main :label="$t('routes.search') | capitalize" />
        </q-side-link>

        <q-item-separator />

        <template v-if="!authenticated">
          <q-item @click="login">
            <q-item-side icon="lock_outline" />
            <q-item-main :label="$t('Member Login') | capitalize" />
          </q-item>
          <q-item @click="register">
            <q-item-side icon="person_add" />
            <q-item-main :label="$t('free registration') | capitalize" />
          </q-item>
        </template>

        <template v-else>
          <q-side-link item :to="route('my.dashboard')">
            <q-item-side icon="dashboard" />
            <q-item-main :label="$t('dashboard') | capitalize" />
          </q-side-link>

          <template v-if="isAdmin">
            <q-side-link item :to="route('admin.appointments')">
              <q-item-side icon="schedule" />
              <q-item-main :label="$tc('appointment', 2) | capitalize" />
            </q-side-link>

            <q-side-link item :to="route('admin.clinics')">
              <q-item-side icon="healing" />
              <q-item-main :label="$tc('clinic', 2) | capitalize" />
            </q-side-link>

            <q-side-link item :to="route('admin.procedures')">
              <q-item-main inset :label="$tc('procedure', 2) | capitalize" />
            </q-side-link>

            <q-side-link item :to="route('admin.specialists')">
              <q-item-side icon="people_outline" />
              <q-item-main :label="$tc('specialist', 2) | capitalize" />
            </q-side-link>

            <q-side-link item :to="route('admin.specialties')">
              <q-item-main inset :label="$tc('specialty', 2) | capitalize" />
            </q-side-link>

            <q-side-link item :to="route('admin.users')">
              <q-item-side icon="people_outline" />
              <q-item-main :label="$tc('user', 2) | capitalize" />
            </q-side-link>

            <q-item-separator />
          </template>

          <q-side-link item :to="route('my.appointments')" v-if="isPatient">
            <q-item-side icon="schedule" />
            <q-item-main :label="$t('routes.appointments') | capitalize" />
          </q-side-link>

          <q-side-link item :to="route('my.profile')">
            <q-item-side icon="account_box" />
            <q-item-main :label="$t('profile') | capitalize" />
          </q-side-link>
        </template>

        <q-item-separator />

        <q-side-link item :to="route('about')">
          <q-item-side icon="info" />
          <q-item-main :label="$t('About docAllo') | capitalize" />
        </q-side-link>
        <q-side-link item :to="route('contact')">
          <q-item-side icon="comment" />
          <q-item-main :label="$t('Contact Us') | capitalize" />
        </q-side-link>
        <q-side-link item :to="route('faq')">
          <q-item-side icon="question_answer" />
          <q-item-main :label="$t('FAQ') | capitalize" />
        </q-side-link>
        <q-side-link item :to="route('privacy')">
          <q-item-side icon="gavel" />
          <q-item-main :label="$t('Privacy Policy') | capitalize" />
        </q-side-link>

        <q-item-separator />

        <q-item @click="toggleLocale">
          <q-item-side icon="language" />
          <q-item-main :label="otherLocale | capitalize" />
        </q-item>
        <q-item v-if="authenticated" @click="logout">
          <q-item-side icon="lock_open" />
          <q-item-main :label="$t('logout') | capitalize" />
        </q-item>
      </q-list>
    </div>

    <router-view />

    <!-- Footer -->
    <q-toolbar slot="footer" color="light-blue-9" class="cordova-hide electron-hide">
      <hd-footer />
    </q-toolbar>
    <q-toolbar style="min-height:10px" slot="footer" class="vertical-middle text-center cordova-hide electron-hide" color="blue-grey">
      <small class="col-md-10 offset-md-1 text-white light-paragraph">{{ $t("All Rights Reserved") }} &copy;{{year}} {{
        $t("docAllo Services") }}
      </small>
    </q-toolbar>
  </q-layout>
</template>

<script>
import {
  QLayout, QToolbar, QToolbarTitle, QList, QListHeader, QSideLink, QItemSide,
  QItemMain, QBtn, QIcon, QItem, QItemSeparator, QPopover, Alert
} from 'quasar-framework';
import LoginRegisterModal from './modals/login-register-modal.vue';
import { mapState, mapActions, mapGetters } from 'vuex';
import { capitalize, escape } from '../utils.js';
import HdFooter from './hd-footer.vue';

export default {
  components: {
    QLayout, QToolbar, QToolbarTitle, QList, QListHeader, QSideLink, QItemSide,
    QItemMain, QBtn, QIcon, QItem, QItemSeparator, QPopover, HdFooter, LoginRegisterModal
  },

  data() {
    return {
      // Debugging options. Useful for testing/bugfixing.
      debug: {
        // Enable the back button, even if we're not inside Cordova.
        forceBackButton: false
      },

      sides: {
        // Left sidebar initially hidden
        left: false,
        right: false
      },
      isHomepage: true,
      isSearchPage: false,
      title: '',
      online: false,
      alert: null,
      year: this.$moment().year(),

      // Which page to go back to (a URL, e.g. '/') when the "Back" button is
      // clicked. An empty string means normal "Back" button behavior, i.e. go
      // back to the previous page.
      //
      // This is used on mobile to change the button behavior. For instance,
      // after booking an appointment, the 'back' button will bring you back to
      // the homepage.
      //
      // This can be set when calling `$router.push()` to navigate to a new
      // page, and will change the behavior of the 'back' button for that page.
      //
      // this.$router.push({
      //   name: 'search',
      //   params: {
      //     backTo: '/' // go back to the homepage if we click 'back' from here
      //   }
      // });
      backTo: ''
    };
  },

  computed: {
    ...mapState(['user', 'authenticated']),
    ...mapGetters(['isAdmin', 'isStaff', 'isClinicAdmin', 'isPatient']),

    showBackButton() {
      return !this.isHomepage && (this.$q.platform.is.cordova ||
        this.debug.forceBackButton);
    },

    otherLocale() {
      const fr = 'français';
      const en = 'english';
      return this.$i18n.locale === 'en' ? fr : en;
    }
  },

  created() {
    this.onRouteChange(this.$route);
    this.$router.afterEach((to) => {
      this.onRouteChange(to);
    });
    this.$root.$on('setTitle', this.onSetTitle.bind(this));
    if (this.$q.platform.is.cordova) {
      this.setOnline(navigator.connection.type !== Connection.NONE);
      document.addEventListener('offline', () => {
        this.setOnline(false);
      }, false);
      document.addEventListener('online', () => {
        this.setOnline(navigator.connection.type !== Connection.NONE);
      }, false);
    }
  },

  async mounted() {
    this.updateTitle(this.$route);
    await this.hideSidebar();
  },

  methods: {
    ...mapActions(['setUserLocale']),

    /**
     * Return a localized route object based on the route's name.
     */
    route(name, otherProperties) {
      return Object.assign({
        name: `${name}.${this.$i18n.locale}`
      }, otherProperties || {});
    },

    setOnline(val) {
      const oldVal = this.online;
      this.online = val;
      if (oldVal !== val) {
        if (this.online) {
          if (this.alert) {
            this.alert.dismiss();
          }
        } else {
          this.alert = Alert.create({
            html: escape(this.$t('No Internet connection available')),
            color: 'warning',
            icon: 'wifi',
            position: 'top'
          });
        }
      }
    },

    /**
     * Method called whenever the route changes.
     */
    onRouteChange(route) {
      this.updateTitle(route);
      this.isHomepage = /^home\.(en|fr)$/.test(route.name);
      this.isSearchPage = /^search\.appointments\.(en|fr)$/.test(route.name);
      this.backTo = route.params.backTo || '';
    },

    /**
     * Update the title in the toolbar depending on the route.
     */
    updateTitle(route) {
      const title = route.meta.title || '';
      if (typeof title === 'function') {
        this.title = title(route, this);
      } else {
        this.title = capitalize(this.$t(title));
      }
    },

    onSetTitle(title) {
      this.title = title;
    },

    /**
     * Hide the left sidebar.
     */
    async hideSidebar() {
      await new Promise((resolve) => {
        this.$refs.layout.hideLeft(() => {
          resolve();
        });
      });
    },

    /**
     * Log the user out, then redirect to the homepage.
     */
    async logout() {
      await this.hideSidebar();
      this.$store.dispatch('logout').then(() => {
        this.$router.push({ name: 'home.' + this.$i18n.locale });
      });
    },

    /**
     * Open the login modal.
     */
    async login() {
      await this.hideSidebar();
      this.$refs.loginRegisterModal.show('login', 'my.dashboard.' + this.$i18n.locale);
    },

    /**
     * Open the register modal.
     */
    async register() {
      await this.hideSidebar();
      this.$refs.loginRegisterModal.show('register', 'my.dashboard.' + this.$i18n.locale);
    },

    /**
     * Go back in history.
     */
    goBack() {
      if (this.backTo) {
        this.$router.replace(this.backTo);
      } else {
        this.$router.go(-1);
      }
    },

    /**
     * Toggle the locale between English and French.
     */
    async toggleLocale() {
      await this.hideSidebar();
      const currentLocale = this.$i18n.locale;
      if (currentLocale === 'en') {
        if (this.authenticated) {
          this.setUserLocale('fr');
        }
        this.$i18n.locale = 'fr';
      } else {
        if (this.authenticated) {
          this.setUserLocale('en');
        }
        this.$i18n.locale = 'en';
      }
    }
  }
};
</script>