<template>
  <div class="layout-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <user-avatar-form :user="user"></user-avatar-form>
      </div>
      <div class="row col-xs-12 col-sm-10 capitalize">
        <div class="box101 col-sm-5">
          <form @submit.prevent>
            <h5><strong>{{ $t('my profile') }}</strong></h5>
            <q-field :error="form.errors.has('email')" :error-label="form.errors.get('email')">
              <q-input v-model="user.email" type="email" :float-label="$t('email')" :attributes="{ autocomplete: 'email' }" />
            </q-field>

            <q-field :error="form.errors.has('full_name')" :error-label="form.errors.get('full_name')">
              <q-input v-model="user.full_name" type="text" :float-label="$t('Full Name')" :attributes="{ autocomplete: 'given-name' }" />
            </q-field>

            <q-field :error="form.errors.has('phone')" :error-label="form.errors.get('phone')">
              <q-input v-model="computedPhone" type="tel" :float-label="$t('phone')" :attributes="{ autocomplete: 'tel-national' }" />
            </q-field>

            <q-field :error="form.errors.has('skype_id')" :error-label="form.errors.get('skype_id')">
              <q-input v-model="user.skype_id" type="text" :float-label="$t('skype ID')" />
            </q-field>

            <q-field :error="form.errors.has('birthdate')" :error-label="form.errors.get('birthdate')">
              <q-datetime v-model="user.birthdate" type="date" :float-label="$t('birthdate')" />
            </q-field>

            <div width="10%">
              <q-field>
                <sub class="text-faded">{{ $t('gender') }}</sub>
                <q-option-group inline type="radio" v-model="user.gender" :options="genders" />
              </q-field>

              <q-field>
                <sub class="text-faded">{{ $t('language') }}</sub>
                <q-option-group inline type="radio" v-model="user.locale" :options="languages" />
              </q-field>
            </div>
            <div class="row justify-center" style="padding-top:10px">
              <q-btn outline icon="save" color="primary" @click="updateUser" @submit.prevent>{{ $t('save profile') }}
              </q-btn>
            </div>
          </form>
        </div>

        <div class="box101 col-sm-5">
          <h5><strong>{{ $t('my location') }}</strong></h5>
          <sub>{{ $t('my location info') }}</sub>
          <q-field>
            <google-autocomplete v-model="marker.formatted_address" @place-changed="updateMarker" />
            <div class="row justify-center" style="padding-top: 8px">
              <q-btn small outline color="primary" @click="saveMarker">{{ $t('save address') }}</q-btn>
            </div>
          </q-field>

          <form @submit.prevent style="padding-top:10px">
            <h5><strong>{{ $t('my security') }}</strong></h5>
            <sub>{{ $t('my security info') }}</sub>

            <q-field v-if="canUpdatePassword" :error="form.errors.has('password')" :error-label="form.errors.get('password')">
              <q-input v-model="form.password" type="password" :float-label="$t('password')" :attributes="{ autocomplete: 'new-password' }" />
            </q-field>
            <q-field v-if="canUpdatePassword" :error="form.errors.has('password_confirmation')" :error-label="form.errors.get('password_confirmation')">
              <q-input v-model="form.password_confirmation" type="password" :float-label="$t('password confirmation')" :attributes="{ autocomplete: 'new-password' }" />
            </q-field>

            <div class="row justify-center" style="padding-top:5px">
              <q-btn small outline color="primary" @click="updatePassword">{{ $t('change password') }}</q-btn>
              <q-btn v-if="canUpdatePassword" small color="primary" @click="cancelPassword" class="on-right">
                {{ $t('cancel') }}
              </q-btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import * as mutationTypes from '../../vuex/mutation-types.js';
import { Form } from '../../Form.js';
import UserAvatarForm from '../elements/user-avatar-form.vue';
import GoogleAutocomplete from '../searches/google-autocomplete.vue';
import { QField, QInput, QOptionGroup, QBtn, QDatetime, Loading, Toast } from 'quasar-framework';
import { capitalize } from '../../utils.js';

export default {
  components: {
    UserAvatarForm,
    GoogleAutocomplete,
    QField,
    QInput,
    QOptionGroup,
    QBtn,
    QDatetime
  },

  data() {
    return {
      form: new Form({
        full_name: '',
        email: '',
        phone: '',
        zipcode: '',
        marker: '',
        password: '',
        password_confirmation: ''
      }),
      marker: {
        name: '',
        address: '',
        lat: null,
        lng: null,
        type: ''
      },
      update: {
        showAlert: false,
        error: '',
        message: ''
      },

      canUpdatePassword: false
    };
  },

  computed: {
    ...mapState(['user']),
    languages() {
      return [
        { label: 'Français', value: 'fr' },
        { label: 'English', value: 'en' }
      ];
    },

    genders() {
      return [
        { label: this.$t('gender_m'), value: 'm' },
        { label: this.$t('gender_f'), value: 'f' },
        { label: this.$t('gender_o'), value: 'none' }
      ];
    },

    computedPhone: {
      get() {
        const temp = this.form.phone === null ? '' : this.form.phone;
        return temp.replace(/\D/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
      },

      set(value) {
        this.form.phone = value.replace(/\D/g, '').substring(0, 10);
      }
    }
  },

  mounted() {
    this.initForm(this.user);
    this.marker = this.user.marker ? this.user.marker : {};
  },

  methods: {
    ...mapMutations('search', {
      setMarker: 'SET_MARKER'
    }),
    updatePassword() {
      if (this.canUpdatePassword) {
        Loading.show({ delay: 0 });
        axios.put('/api/my/profile/password', {
          password: this.form.password,
          password_confirmation: this.form.password_confirmation
        }).then(() => {
          this.update.error = false;
          this.form.reset();
          this.canUpdatePassword = false;
        }).catch(error => {
          this.update.error = true;
          this.form.onFail(error.response.data);
        }).finally(() => {
          Loading.hide();
          this.form.password_confirmation = '';
          this.showAlert();
        });
      } else {
        this.canUpdatePassword = true;
      }
    },

    cancelPassword() {
      this.canUpdatePassword = false;
    },

    showAlert() {
      if (this.update.error) {
        Toast.create.negative(capitalize(this.$t('error')));
      } else {
        Toast.create.positive(capitalize(this.$t('success')));
      }
    },

    initForm(user) {
      this.form.phone = user.phone ? user.phone : '';
      this.user.gender = user.gender === '' ? 'none' : user.gender;
      this.user.birthdate = this.$moment(this.user.birthdate).toISOString();
      this.canUpdatePassword = false;
    },

    updateMarker(marker) {
      this.marker = marker;
      this.setMarker(marker);
    },

    saveMarker() {
      Loading.show({ delay: 0 });
      return axios.put('/api/my/profile/marker', {
        address: this.marker.formatted_address,
        lat: this.marker.lat || this.marker.geometry.location.lat(),
        lng: this.marker.lng || this.marker.geometry.location.lng(),
      }).then(response => {
        this.marker = response.data.data;
        this.$store.commit(mutationTypes.SET_USER_MARKER, this.marker);
      }).finally(() => {
        Loading.hide();
        this.showAlert();
      });
    },

    updateUser() {
      const params = {
        full_name: this.user.full_name,
        zipcode: this.user.zipcode,
        username: this.user.username,
        locale: this.user.locale,
        email: this.user.email,
        skype_id: this.user.skype_id,
        birthdate: this.$moment(this.user.birthdate).format('Y-MM-DD'),
        phone: this.form.phone.replace(/\D/g, ''),
        gender: this.user.gender === 'm' || this.user.gender === 'f' ? this.user.gender : ''
      };

      if (!this.$_.isEmpty(this.form.password.trim())) {
        params.password = this.form.password;
        params.password_confirmation = this.form.password_confirmation;
      }

      Loading.show({ delay: 0 });
      axios.put('/api/my/profile/', params).then(response => {
        this.update.error = false;
        this.form.reset();
        const userData = response.data.data;
        this.$store.commit(mutationTypes.SET_USER, userData);
        this.$store.commit(mutationTypes.SET_LOCALE, userData.locale);
        this.$i18n.locale = userData.locale;
        this.$router.push({ name: 'my.profile.' + this.$i18n.locale });

        this.initForm(userData);
        //@TODO dispatch change to update navigation
      }).catch(error => {
        this.form.onFail(error.response.data);
        this.update.error = true;
      }).finally(() => {
        Loading.hide();
        this.form.password_confirmation = '';
        this.showAlert();
      });
    }
  }
};
</script>
<style scoped>
  .avatar-img {
    width: 50%;
    padding: 20px 0 0 0;
    display: block;
    margin: 0 auto;
  }

  .q-field {
    margin-bottom: 10px;
  }

  .box101 {
    margin: 0px 20px 40px 20px;
  }
</style>