<template>
    <router-view></router-view>
</template>

<script>
import store from '../../vuex/store.js';

export default {
  name: 'Admin',

  components: {},

  data() {
    return {};
  },

  beforeRouteEnter(to, from, next) {
    if (!store.getters.canAccessAdminSection) {
      next({
        name: 'not-allowed',
        query: { redirect: to.fullPath }
      });
    } else {
      next();
    }
  }
};
</script>
