<template>
  <q-tabs align="justify">
    <q-route-tab slot="title"
                 name="appointments"
                 :label="$tc('appointment', 2) | capitalize"
                 :to="{name: $troute('admin.appointments')}"
                 icon="date_range" />
    <q-route-tab slot="title"
                 name="specialists"
                 :label="$tc('specialist', 2) | capitalize"
                 :to="{name: $troute('admin.specialists')}"
                 icon="people" />
    <q-route-tab slot="title"
                 name="clinics"
                 :label="$tc('clinic', 2) | capitalize"
                 :to="{name: $troute('admin.clinics')}"
                 icon="business" />
    <q-route-tab slot="title"
                 name="users"
                 :label="$tc('user', 2) | capitalize"
                 :to="{name: $troute('admin.users')}"
                 icon="people" />
    <q-route-tab slot="title"
                 name="specialties"
                 :label="$tc('specialty', 2) | capitalize"
                 :to="{name: $troute('admin.specialties')}" />
    <q-route-tab slot="title"
                 name="procedures"
                 :label="$tc('procedure', 2) | capitalize"
                 :to="{name: $troute('admin.procedures')}" />
    <q-route-tab slot="title"
                 name="reporting"
                 :label="$tc('reporting', 2) | capitalize"
                 :to="{name: $troute('admin.reporting')}" />
  </q-tabs>
</template>

<script>
import { QTabs, QRouteTab } from 'quasar-framework';

export default {
  components: { QTabs, QRouteTab },
};
</script>
