<template>
    <q-field :error="form.errors.has('image')" :error-label="form.errors.get('image')">
        <label>
            <input :name="name" type="file" ref="fileInput" hidden @change="onChange" accept="image/*" />
            <q-btn small color="primary" outline @click="changeAvatar">{{ $t('change avatar') | capitalize }}</q-btn>
        </label>
    </q-field>
</template>

<script>
import { Form } from '../../Form.js';
import { QBtn, QField } from 'quasar-framework';

export default {
  props: ['name', 'url'],

  components: { QBtn, QField },

  data() {
    return {
      form: new Form({
        image: ''
      })
    };
  },

  methods: {
    onChange(event) {
      if (!event.target.files.length) {
        return;
      }
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        this.upload(file);
      };
    },

    upload(file) {
      const data = new FormData();
      data.append(this.name, file);
      axios.post(this.url, data).then(response => {
        this.$emit('uploaded', response.data.avatar_path);
        this.form.reset();
      }).catch((error) => {
        this.form.onFail(error.response.data);
      });
    },

    changeAvatar() {
      this.$refs.fileInput.click();
    }
  }
};
</script>