<template>
  <q-card>
    <q-card-media>
      <img class="avatar-img" :src="avatar" :alt="user.name" />
    </q-card-media>
    <q-card-separator />
    <q-card-actions class="justify-center">
      <image-upload name="image" :url="`/api/media/users/${user.id}/avatar`" @uploaded="avatarChanged"></image-upload>
    </q-card-actions>
  </q-card>
</template>

<script>
import ImageUpload from './image-upload.vue';
import { QCard, QCardMedia, QCardActions, QCardSeparator } from 'quasar-framework';
import { serverPath } from '../../utils.js';

export default {
  props: {
    user: { type: Object, required: true }
  },

  components: { ImageUpload, QCard, QCardMedia, QCardActions, QCardSeparator },

  data() {
    return {
      avatar: ''
    };
  },

  created() {
    this.avatar = this.user.avatar_url;
    if (this.$q.platform.is.cordova) {
      this.avatar = serverPath() + this.avatar;
    }
  },

  methods: {
    avatarChanged(newAvatar) {
      this.avatar = newAvatar;
      if (this.$q.platform.is.cordova) {
        this.avatar = serverPath() + this.avatar;
      }
    }
  }
};
</script>
<style scoped>
.avatar-img {
  width: 50%;
  padding: 20px 0 20px 0;
  display: block;
  margin: 0 auto;
}
</style>