<template>
  <q-modal ref="loginRegister">
    <q-btn round small @click="hide" icon="close" flat class="absolute-right"></q-btn>
    <login v-if="state === 'login'" :redirect-route="route" :redirect="redirect" @success="hide" @forgotPassword="forgotPassword"></login>
    <registration v-if="state === 'register'" @success="login"></registration>
    <div class="row justify-center">
      <small class="text-center">{{ $t(haveAnAccountText) | capitalize }}
        <q-btn flat color="primary" @click.prevent="changeState"> {{ $t(otherState) | capitalize }}</q-btn>
      </small>
    </div>
  </q-modal>
</template>
<script>
import {
  QModal, QBtn
} from 'quasar-framework';
import Login from '../sessions/login.vue';
import Registration from '../sessions/registration.vue';

export default {
  name: 'LoginRegister',
  components: { Login, Registration, QModal, QBtn },

  data() {
    return {
      state: '',
      route: {}
    };
  },

  computed: {
    otherState() {
      return this.state === 'login' ? 'register' : 'login';
    },

    haveAnAccountText() {
      return this.state === 'login' ? 'no account' : 'have account';
    },

    redirect() {
      return !!this.route.name;
    }
  },

  methods: {
    /**
     * Hide the modal.
     * @param callback Function to call after the modal is closed.
     */
    hide(callback) {
      this.$refs.loginRegister.close(callback);
      this.$emit('success');
    },

    /**
     * Show the modal.
     * @param state Type of modal ('login' or 'register').
     * @param route Route to redirect to after the login.
     */
    show(state, route) {
      this.state = state;
      this.route.name = route;
      this.$refs.loginRegister.open();
    },

    /**
     * Toggle between the 'login' and the 'register' modal.
     */
    changeState() {
      this.state = this.otherState;
    },

    /**
     * Logins with the given credentials, then hides the modal and redirects if necessary.
     * @param credentials. Credentials to login.
     */
    login(credentials) {
      this.$store.dispatch('login', credentials).catch(error => {
        //@todo alert
        console.warn(error.response); // eslint-disable-line no-console
      }).finally(() => {
        this.hide(() => {
          if (this.redirect) {
            this.$router.push(this.route);
          }
        });
      });
    },

    /**
     * Hide the modal and open the forgot-password page.
     */
    forgotPassword() {
      this.hide(() => {
        this.$router.push({ name: 'forgot-password.' + this.$i18n.locale });
      });
    }
  }
};
</script>
<style scoped>
  .p {
    font-size: 0.5em;
  }
</style>
