<template>
  <q-modal ref="editUserModal" :content-css="{padding: '30px'}">
    <h4>{{ $t('update') + ' ' + $tc('user') | capitalize }}</h4>
    <q-field :error="form.errors.has('full_name')" :error-label="form.errors.get('full_name')">
      <q-input type="text" v-model="user.full_name" :float-label="$t('Full Name') | capitalize" />
    </q-field>

    <q-field :error="form.errors.has('email')" :error-label="form.errors.get('email')">
      <q-input type="email" v-model="user.email" :float-label="$t('email') | capitalize" />
    </q-field>

    <q-field :error="form.errors.has('role_ids')"
             :error-label="form.errors.get('role_ids')"
             class="relative-position">
      <q-inner-loading :visible="loading">
        <q-spinner-ball color="primary"></q-spinner-ball>
      </q-inner-loading>
      <q-select multiple
                chips
                v-model="userRoleIds"
                :options="roles"
                :float-label="$tc('role') | capitalize" />
    </q-field>

    <q-field v-if="isAdmin" :error="form.errors.has('password')" :error-label="form.errors.get('password')">
      <q-input v-model="form.password" type="password" :float-label="$t('password') | capitalize" :attributes="{ autocomplete: 'new-password' }" />
    </q-field>

    <q-btn @click="update" color="primary" class="pull-right">{{ $t('update') | capitalize }}</q-btn>
  </q-modal>
</template>
<script>
import { QField, QInput, QModal, QBtn, QSelect, QInnerLoading, QSpinnerBall, Loading } from 'quasar-framework';
import { mapGetters } from 'vuex';
import { Form } from '../../Form.js';

export default {
  name: 'editUserModal',
  components: { QField, QInput, QModal, QBtn, QSelect, QInnerLoading, QSpinnerBall },

  data() {
    return {
      user: { roles: { data: [] } },
      roles: [],
      userRoleIds: [],
      form: new Form({
        full_name: '',
        last_name: '',
        email: '',
        password: '',
      }),
      loading: false,
    };
  },

  computed: {
    ...mapGetters(['isAdmin']),
  },

  created() {
    this.getRoles();
  },

  methods: {
    /**
     * Hide the modal.
     * @param callback Function to call after the modal is closed.
     */
    hide(callback) {
      this.$refs.editUserModal.close(callback);
    },

    /**
     * Show the modal.
     * @param user User Object.
     */
    show(user) {
      this.user = user;
      this.userRoleIds = (this.user.roles && this.user.roles.data) ? this.$_.map(this.user.roles.data, 'id') : [];
      this.$refs.editUserModal.open();
    },

    update() {
      const params = {
        full_name: this.user.full_name,
        email: this.user.email,
        role_ids: this.userRoleIds,
        includes: ['roles'],
      };

      if (!this.$_.isEmpty(this.form.password)) {
        params['password'] = this.form.password;
        params['password_confirmation'] = this.form.password;
      }

      Loading.show({ delay: 0 });
      axios.put('/api/admin/users/' + this.user.id, params).then((response) => {
        this.$emit('update', response.data.data);
        this.hide();
      }).catch((error) => {
        this.form.onFail(error.response.data);
      }).finally(() => {
        Loading.hide();
      });
    },

    getRoles() {
      this.loading = true;
      axios.get('/api/admin/staff-roles').then((response) => {
        this.roles = response.data.data.map((role) => {
          return {
            label: role.name,
            value: role.id
          };
        });
      }).finally(() => {
        this.loading = false;
      });
    }
  }
};
</script>
