<template>
  <q-card>
    <q-item link :to="{name: $troute('admin.users.details'), params: {slug: user.id}}" class="cursor-pointer">
      <q-item-side avatar="images/default_avatar.png" class="img-circle" />

      <q-item-main separator>
        <q-item-tile label> {{ user.name }}</q-item-tile>
      </q-item-main>

      <q-item-side right icon="more_vert">
        <q-popover ref="popover">
          <q-list link>
            <q-item>
              <q-btn big color="secondary" @click.prevent="$emit('edit', user)" class="pull-right">
                {{ $t('modify') }}
              </q-btn>
            </q-item>
          </q-list>
        </q-popover>
      </q-item-side>
    </q-item>

    <q-card-separator />

    <q-card-main>

      <template v-if="showRoles">
        <div v-for="role in roles" :key="role.id">
          <span>{{ role.name | capitalize }}</span><br>
        </div>
      </template>
    </q-card-main>
  </q-card>
</template>

<script>
import { mapGetters } from 'vuex';
import {
  QCard,
  QCardMain,
  QCardSeparator,
  QItem,
  QItemMain,
  QItemSide,
  QItemTile,
  QPopover,
  QList,
  QBtn,
} from 'quasar-framework';

export default {
  components: { QCard, QCardMain, QCardSeparator, QItem, QItemMain, QItemSide, QItemTile, QPopover, QList, QBtn },

  props: {
    user: { type: Object, required: true },
    showRoles: { type: Boolean, default: true },
  },

  data() {
    return {
      roles: [],
      clinics: [],
    };
  },

  mounted() {
    if (this.user.roles) {
      this.roles = this.user.roles.data;
    }
    if (this.user.clinics) {
      this.clinics = this.user.clinics.data;
    }
  },

  computed: {
    ...mapGetters(['isAdmin', 'isStaff', 'isClinicAdmin'])
  }
};
</script>
