<template>
  <div>
    <admin-navigation />
    <q-toolbar color="primary" inverted>
      <q-toolbar-title>
        <span slot="subtitle">
          {{ pagination.total }}
          {{ $tc('user', pagination.total) | capitalize }}
        </span>
      </q-toolbar-title>

      <q-input type="text" clearable
               v-model="search.query"
               :float-label="$t('name') | capitalize"
               class="on-left" />

      <per-page-select v-model="pagination.per_page" />

      <q-btn small color="primary" @click="getUsers">
        {{ $t('Search') | capitalize }}
      </q-btn>
    </q-toolbar>

    <edit-user-modal ref="editUserModal" @update="updateUserInRoster"></edit-user-modal>

    <div v-if="users.length > 0">
      <laravel-pagination :value="pagination" @input="pageChange" />

      <div class="row">
        <div v-for="user in users" :key="user.id" class="list-item-wrapper col-xs-12 col-md-6 col-xl-4">
          <user-list-item class="full-height"
                          :user="user"
                          @edit="editUser" />
        </div>
      </div>

      <laravel-pagination :value="pagination" @input="pageChange" />
    </div>
    <p v-else class="text-center">
      {{ $t('no results') | capitalize }}
    </p>
  </div>
</template>

<script>
import { QToolbar, QToolbarTitle, QInput, QBtn, Loading } from 'quasar-framework';
import AdminNavigation from '../admin/admin-navigation.vue';
import UserListItem from './user-list-item.vue';
import LaravelPagination from '../elements/forms/laravel-pagination.vue';
import PerPageSelect from '../elements/forms/per-page-select.vue';
import EditUserModal from '../users/edit-user-modal.vue';

export default {
  components: {
    AdminNavigation,
    PerPageSelect, LaravelPagination, EditUserModal,
    QToolbar, QToolbarTitle, QInput, QBtn, UserListItem
  },

  data() {
    return {
      users: [],
      pagination: {
        per_page: 20,
        current_page: 1,
        total_pages: 0
      },
      search: {
        query: null,
        status: null
      },
    };
  },

  mounted() {
    this.getUsers();
  },

  methods: {
    async getUsers() {
      let params = {
        page: this.pagination.current_page,
        per_page: this.pagination.per_page,
        includes: ['roles']
      };

      if (this.search.query) {
        params.query = this.search.query;
      }

      try {
        Loading.show({ delay: 0 });
        const { data } = await axios.get('/api/admin/users/search', { params: params });
        this.users = data.data;
        this.pagination = data.meta.pagination;
      } finally {
        Loading.hide();
      }

    },

    pageChange(pageIndex) {
      this.pagination.current_page = pageIndex;
      this.getUsers();
    },

    addUser(user) {
      this.users.push(user);
      this.showAddNewUserModal = false;
    },

    editUser(user) {
      this.$refs.editUserModal.show(user);
    },

    updateUserInRoster(user) {
      const index = this.$_.findIndex(this.users, { id: user.id });
      this.users.splice(index, 1, user);
    },
  }
};
</script>