<template>
  <div class="capitalize group">
    <q-field :error="form.errors.has('full_name')" :error-label="form.errors.get('full_name')">
      <q-input type="text" v-model="user.full_name" :float-label="$t('name')" />
    </q-field>

    <q-field :error="form.errors.has('email')" :error-label="form.errors.get('email')">
      <q-input type="email" v-model="user.email" :float-label="$t('email')" />
    </q-field>

    <q-field :error="form.errors.has('phone')" :error-label="form.errors.get('phone')">
      <q-input
          type="tel"
          v-model="computedPhone"
          :max-length="10"
          :float-label="$t('phone')"
          :attributes="{ autocomplete: 'tel-national' }" />
    </q-field>

    <q-field :error="form.errors.has('skype_id')" :error-label="form.errors.get('skype_id')">
      <q-input v-model="user.skype_id" type="text" :float-label="$t('skype ID')" />
    </q-field>

    <q-field :error="form.errors.has('birthdate')" :error-label="form.errors.get('birthdate')">
      <q-datetime v-model="user.birthdate" type="date" :placeholder="$t('birthdate')" format="YYYY-MM-DD" />
    </q-field>

    <q-field>
      <sub class="text-faded">{{ $t('gender') }}</sub>
      <q-option-group inline type="radio" v-model="user.gender" :options="genders" />
    </q-field>

    <q-field>
      <q-checkbox :label="$t('activated')" v-model="activated" disable left-label />
    </q-field>

    <div class="col-xs-12 col-sm-8 text-center">
      <q-btn outline icon="save" @click="updateUser" @submit.prevent color="primary">{{ $t('save profile') }}</q-btn>
      <q-btn outline icon="delete" v-if="isAdmin" @click="deleteUser" color="negative" class="on-right">
        {{ $t('delete') }}
      </q-btn>
    </div>
  </div>
</template>

<script>
import { capitalize, escape } from '../../utils.js';
import { mapGetters } from 'vuex';
import {
  QField,
  QInput,
  QBtn,
  QRadio,
  Loading,
  Toast,
  Dialog,
  QOptionGroup,
  QDatetime,
  QCheckbox
} from 'quasar-framework';
import { Form } from '../../Form.js';
import SpecialtyCheckboxes from '../elements/forms/specialty-checkboxes.vue';
import ProcedureCheckboxes from '../procedure/procedure-checkboxes.vue';
import StatusSelect from '../elements/forms/status-select.vue';

export default {
  components: {
    SpecialtyCheckboxes,
    ProcedureCheckboxes,
    StatusSelect,
    QField,
    QInput,
    QBtn,
    QRadio,
    QOptionGroup,
    QDatetime,
    QCheckbox
  },

  data() {
    return {
      form: new Form({
        email: '',
        phone: '',
        full_name: '',
      }),
      update: {
        message: '',
        error: false,
      },
      user: this.value
    };
  },

  props: { value: { type: Object, required: true } },

  computed: {
    ...mapGetters(['isAdmin']),
    computedPhone: {
      get() {
        const temp = this.user.phone === null ? '' : this.user.phone;
        return temp
          .replace(/\D/g, '')
          .replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
      },

      set(value) {
        this.user.phone = value.replace(/\D/g, '').substring(0, 10);
      }
    },
    activated: {
      get() {
        return !!this.user.activated;
      },
      set(val) {
        this.user.activated = Number(val);
      }
    },
    genders() {
      return [
        { label: this.$t('gender_m'), value: 'm' },
        { label: this.$t('gender_f'), value: 'f' },
        { label: this.$t('gender_o'), value: 'none' }
      ];
    }
  },


  methods: {
    updateUser() {
      const params = {
        full_name: this.user.full_name,
        phone: this.user.phone,
        email: this.user.email,
        skype_id: this.user.skype_id,
        birthdate: this.user.birthdate ? this.$moment(this.user.birthdate).format('Y-MM-DD') : null,
        gender: this.user.gender,
        status: this.user.status,
      };

      Loading.show({ delay: 0 });
      axios.put('/api/admin/users/' + this.user.id, params).then(response => {
        this.update.message = 'Successfully edited';
        this.update.error = false;
        const user = response.data.data;
        this.$emit('update', user);
      }).catch(error => {
        this.form.onFail(error.response.data);
        this.update.error = true;
        if (error.response.data && error.response.data.error) {
          this.update.message = error.response.data.error.message;
        } else {
          this.update.message = 'An error occurred';
        }
      }).finally(() => {
        this.showAlert();
        Loading.hide();
      });
    },

    showAlert() {
      if (this.update.error) {
        Toast.create.negative(`<strong>Error!</strong> ${escape(this.update.message)}`);
      } else {
        Toast.create.positive(`<strong>Success!</strong> ${escape(this.update.message)}`);
      }
    },

    deleteUser() {
      Dialog.create({
        title: capitalize(this.$t('confirm delete')),
        message: capitalize(this.$t('are you sure you want to this', [this.$t('delete'), this.$tc('user')])),
        buttons: [
          capitalize(this.$t('close')),
          {
            label: capitalize(this.$t('confirm delete')),
            color: 'negative',
            handler: () => {
              Loading.show({ delay: 0 });
              axios.delete('/api/admin/users/' + this.user.id).then(() => {
                this.$router.push({ name: 'admin.specialists.' + this.$i18n.locale });
              }).finally(() => {
                Loading.hide();
              });
            }
          }
        ]
      });
    },
  }
};
</script>